beautifulsoup4==4.5.3
dj-database-url==0.4.2
Django==1.11
django-webtest==1.9.1
factory-boy==2.8.1
Faker==0.7.11
gunicorn==19.7.1
psycopg2==2.7.1
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.13.0
rollbar==0.13.11
six==1.10.0
waitress==1.0.2
WebOb==1.7.2
WebTest==2.0.27
whitenoise==3.3.0
